﻿@using GameCenter.WebGUI.Models
@model LoginViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

@Html.HiddenFor(x => x.IdPlayer)
@Html.HiddenFor(x => x.Username)
<input type="hidden" id="idgame"/>

<div class="jumbotron">
    <p><a class="btn btn-success" id="startBtn">Start game</a></p>
    <p id="moveresult"></p>
    <div id="gameboard" style="display: none">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Free section</h3>
    </div>
    <div class="col-md-4">
        <h3>Challenge another player to game</h3>
        <p id="chalFrom"></p>
        <p id="chalFromId"></p>
        <a class="btn btn-default" id="respBtnY">Yes</a>
        <a class="btn btn-default" id="respBtnN">No</a>

        <br /><br /><br />

        <input type="text" id="challUsername"/>
        <input type="hidden" id="challUserid"/>
        <p><a class="btn btn-default" id="challBtn">Challenge</a></p>
    </div>
    <div class="col-md-4">
        <h3>Online players:</h3>
        <ul id="playersList">
        </ul>
    </div>
</div>